$background: #1E1E2E;
$blue: #89B4FA;

* {
  all: unset;
}

window {
  background-color: $background;
  border-radius: 10px;
  border: 1px solid $blue;
}

button {
  background-color: $background;
  border: 1px solid $blue;
  border-radius: 10px;
  margin: 18px;
  font-size: 50px;
  animation: hover-effect-reverse 0.1s linear 0s normal forwards;
}

button:hover {
  animation: hover-effect 0.1s linear 0s normal forwards;
}

button:active {
  color: $blue;
}

@keyframes hover-effect {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 0 10px 10px $blue;
  }
}

@keyframes hover-effect-reverse {
  0% {
    box-shadow: 0 0 10px 10px $blue;
  }

  100% {
    box-shadow: none;
  }
}
